@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

@layer components {
    .link {
        @apply cursor-pointer hover:underline
    }

    .button {
        @apply p-2 cursor-pointer text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 focus:ring-2 focus:ring-yellow-500 active:from-yellow-500 rounded-lg
    }

    .button:focus {
        outline: none;
    }
}